{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} -Catalogue{% endblock %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
            url("{{ asset('uploads/backdrops/' ~serie.backdrop)}}");
        }
    </style>
    <body>
   <h2>Serie: {{ serie.name }}</h2>
   <p>{{ serie.genres }}</p>
   <p>{{ serie.overview }}</p>

    <a href="{{  path('serie_update',{'id':serie.id}) }}">Mettre à jour la série</a>

    </body>
{% endblock %}
