<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EniFlix{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <img src="{{ asset('images/logo.png') }}" alt="logo du site, le mot Série dans une jolie typographie" />
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{path('serie_list')}}">Catalogue</a></li>
            <li><a href="{{path('serie_create')}}">Ajouter une série</a></li>
            <li><a href="{{path('season_create')}}">Ajouter une saison</a></li>
        </ul>
    </nav>
    {%  for type, messages in app.flashes %}
        {%  for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {%  endfor %}
    {%  endfor %}
    {% block body %}{% endblock %}
</html>
