<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EniFlix{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <img src="{{ asset('images/logo.png') }}" alt="logo du site, le mot Série dans une jolie typographie" />
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{path('serie_list')}}">Catalogue</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
