<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EniFlix{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <img src="{{ asset('images/logo.png') }}"/>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{path('app_serie_list')}}">Catalogue</a></li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
